
/* common css starts */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
   width: 1000px;
   margin: auto;
   height: 800px;
 
}

body{
    background-image: url(../images/bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
    
}
.middle{
    justify-content: center;
}
.center{
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
   
}
/* common css ends */
/* form starts */
.input{
    width:400px;
    height:400px;
    background-color: rgba(0, 0, 0, 0.747);
    text-align: center;
    border-radius: 10px;
    animation: lines 3s infinite;
    animation-direction: reverse;
    
}

.input h2{
    color: whitesmoke;
    margin: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.input .email_field{
    width: 250px;
    margin: 0 20px 35px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 166, 0, 0.568);
    color: white;
    padding: 10px 0;
}

.input .pass_field{
    width: 250px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 166, 0, 0.568);
    color: white;
    margin: 10px 0 0 0;
    padding: 10px 0;
    
}
/* animation starts */
@keyframes lines{
    0%{ border: 2px solid rgb(111, 111, 244);}
    100%{ border: 1px solid orange;}
}

@keyframes btn {
    0% {border:1px solid aliceblue}
    100% {border:2px solid aliceblue}
/*animation ends  */
}
.input .btn{
    margin: 30px 70px;
    width: 250px;
    height: 30px;
    display: block;
    color: black;
    border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  animation: btn 3s infinite;
  background-color: orange;
  
}

.input .f_pass{ 
    display: block;
    margin:10px 160px 0 0;
    color: rgba(128, 0, 128, 0.9);
}

.input .eye_icon{
    color: white;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.input .sign_up{
    color: white;
    margin: 40px 0;
    
    
}

.input .sign_up a{
    color: rgba(128, 0, 128, 0.9);
}
/* form ends */